<h2 class=title mat-dialog-title>Enter Credentials</h2>

<mat-dialog-content [formGroup]=loginForm (ngSubmimt)='onSubmit(formGroup.value)'>
    <div class=textContainer>
        <mat-form-field style="width:80% !important">
            <mat-label>Username</mat-label>
            <input class=inputField matInput type=text formControlName=username placeholder="something@gmail.com"
                required>
            <mat-error *ngIf="!loginForm.controls['username'].valid && loginForm.controls['username'].touched">
                {{ getErrorEmail() }}
            </mat-error>
        </mat-form-field>
    </div>
    <div class=textContainer>
        <mat-form-field style="width:80% !important">
            <mat-label>Password</mat-label>
            <input class=inputField matInput type=password formControlName=password required>
            <mat-error *ngIf="(!loginForm.controls['password'].valid && loginForm.controls['password'].touched)">
                {{ titleAlert }}
            </mat-error>
        </mat-form-field>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <div class=button-container>
        <button [disabled]="loginForm.invalid" mat-button class=loginButton (click)="login()">Login</button>
    </div>
</mat-dialog-actions>