/* You can add global styles to this file, and also import other style files */
/* @import '@angular/material/prebuilt-themes/purple-green.css'; */

body, h2 { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
p,h1,h2,h3,h4,h5,h6 {color: black;}
.backdrop{
    background: rgba(0,0,0,0.8);
}

.snackbar{
    max-width: 80% !important;
    color: #DC493A;
}

.mat-simple-snackbar > span {
    text-align: center !important;
    font-size: 20px !important;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 2vw; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }