.title {
    font-weight: 400;
    font-size: 5vw;
    text-align: left;
    margin: 2vw;
    color: #DC493A;
    margin-bottom: 4vw;
}

.textContainer{
    margin-left: 2vw;
    color: #DC493A;
}

.button-container{
    width: 100%;
    display: flex;
    align-items: center;
}
.button{
    margin-left: 2vw;
    width: 91.5%
}