<div class=homepage>
    <app-header></app-header>
    <div class=title>
        <h1 class=titleText>{{companyTitle}} Employee Management Portal</h1>
    </div>
    <div *ngIf=isUserLoggedIn class=container>
        <div [ngClass]="{'employeeListMobile': mobile, 'employeeList': !mobile, 'mat-elevation-z8': true}">
            <table mat-table class="empList" multiTemplateDataRows id=empList [dataSource]="employeeList">
                <ng-container class=tableCol matColumnDef="Company">
                    <th mat-header-cell *matHeaderCellDef>No.</th>
                    <td mat-cell *matCellDef="let emp; let i = dataIndex">{{i+1}}</td>
                </ng-container>

                <ng-container class=tableCol matColumnDef="Name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell class="name-cell" *matCellDef="let emp; index as i">{{emp.name}}</td>
                </ng-container>

                <ng-container class=tableCol matColumnDef="Salary Rate">
                    <th mat-header-cell *matHeaderCellDef>Salary Rate</th>
                    <td mat-cell class="Salary Rate-cell" *matCellDef="let emp; index as i">${{emp.salary}}</td>
                </ng-container>

                <ng-container class=tableCol matColumnDef="Actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell class="Salary Rate-cell" *matCellDef="let emp; index as i">
                        <div class=buttonContainer>
                            <button color=primary mat-mini-fab (click)=editEmployee(emp) class="editButton" id={{i}}>
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button color=warn mat-mini-fab (click)=remove(emp) class="deleteButton" id={{i}}>
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef=expandedDetail>
                    <td mat-cell *matCellDef="let emp" [attr.colspan]="displayedColumns.length">
                        <div class="example-element-detail"
                             [@detailExpand]="emp == expandedElement ? 'expanded' : 'collapsed'">
                              <table width="100%">
                                    <tr>
                                       <td align="left"><b>Start Date: </b>{{emp.startDate}}</td>
                                       <td align="left"><b>Start Date: </b>{{emp.startDate}}</td>
                                       <td align="left"><b>Start Date: </b>{{emp.startDate}}</td>
                                       <td align="left"><b>Start Date: </b>{{emp.startDate}}</td>
                                   </tr>
                            </table>
                        </div>
                     </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"
                    [class.example-expanded-row]="expandedElement === row" (click)="expandedElement = row">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
            </table>
        </div>


        <div [ngClass]="{'subContainerMobile': mobile, 'subContainer': !mobile}">
            <div [ngClass]="{'sideBoxMobile': mobile, 'sideBox': !mobile, 'mat-elevation-z8': true}" id=companyCodeBox>
                <h2 class=subTitle>Company Code</h2>
                <h3 class="companyCode subText">{{user.companyCode}}</h3>
            </div>
            <div [ngClass]="{'sideBoxMobile': mobile, 'sideBox': !mobile, 'mat-elevation-z8': true}" id=addEmployeeBox>
                <h2 class=subTitle>Add An Employee</h2>
                <app-add-employee-form (added)=getAllEmployees($event)></app-add-employee-form>
            </div>
        </div>
    </div>
</div>