.container{
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 2vw;
}
.empList {
    width: 100%;
}

.employeeList{
    position: relative;
    max-height: 73vh;
    overflow: auto;
    width: 60%;
}

th{
    font-size: 16px;
    color: #DC493A;
}

.employeeListMobile{
    position: relative;
    max-height: 73vh;
    overflow: auto;
    width: 100%;
}