<div class=homepage>
    <app-header></app-header>
    <div *ngIf=isUserLoggedIn class=container>
        <div class=title>
            <h1>{{companyTitle}} Employee Management Portal</h1>
        </div>
        <div class=employeeList>
            <table mat-table class="empList mat-elevation-z8" id=empList [dataSource]="employeeList">
                <ng-container class=tableCol matColumnDef="Company">
                    <th mat-header-cell *matHeaderCellDef>No.</th>
                    <td mat-cell *matCellDef="let emp; index as i">{{i+1}}</td>
                </ng-container>

                <ng-container class=tableCol matColumnDef="Name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell class="name-cell" *matCellDef="let emp; index as i">{{emp.name}}</td>

                </ng-container>

                <ng-container class=tableCol matColumnDef="Salary Rate">
                    <th mat-header-cell *matHeaderCellDef>Salary Rate</th>
                    <td mat-cell class="Salary Rate-cell" *matCellDef="let emp; index as i">${{emp.salary}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
        </div>
    </div>
</div>